.feature {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    height: 700px;
    justify-content: flex-start;
    padding: 20px;
    padding-bottom: 0px;
  }
  
  .feature-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .feature-title {
    font-size: 1.5em;
    margin: 20px 0 10px;
  }
  
  .feature-description {
    font-size: 1em;
    color: #666;
    margin-bottom: 20px;
  }
  
  .feature-image-container {
    overflow: hidden;
    align-self: center;
    height: 100%;
  }
  
  .feature-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .feature-video-container {
    overflow: hidden;
    align-self: center;
    height: 100%;
  }
  
  .feature-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }